<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102532778486-si2qgevf1t9ufo4avsortpj2o6be8suc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102532778486-si2qgevf1t9ufo4avsortpj2o6be8suc</string>
	<key>API_KEY</key>
	<string>AIzaSyAKZ5u3jIVB6u12R9NaSt9yojIu7IQK1sw</string>
	<key>GCM_SENDER_ID</key>
	<string>102532778486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deepLinkingFlutter</string>
	<key>PROJECT_ID</key>
	<string>deeplinkingflutter-eb60e</string>
	<key>STORAGE_BUCKET</key>
	<string>deeplinkingflutter-eb60e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102532778486:ios:66a747989ee6eb2725dfd7</string>
</dict>
</plist>